@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

/* NAVBAR CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: nexa;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 110px 100px;*/
}
/*responsive section*/
@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 12px 100px 0;
}
a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
a:after {
  content: "";
  position: absolute;
  background-color: #007bff;
  height: 3px;
  width: 0;
  left: 0;
  font-size: 50px;
  bottom: -10px;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}
a:hover:after {
  width: 100%;
}
header h2 {
  /*text-transform: uppercase;*/
  font-size: 47px;
}
header .head {
  display: flex;
}
header .head li {
  margin: 0 15px;
}
header .head li:first-child {
  margin-left: 0;
}
header .head li:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header .head li {
    margin: 0 7px;
  }
}

#myvideo {
  /*position: inherit;*/
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}
.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
}
.box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.box h1 {
  margin-bottom: 15px;
  font-size: 65px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.box h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .box {
    min-height: 600px;
  }
  .box h1 {
    font-size: 32px;
  }
  .box h3 {
    font-size: 20px;
  }
}

/*Button CSS */

body {
  align-items: center;
  justify-content: center;
  font-family: serif;
  background: #000;
}
button {
  border: none;
  padding: 0px 12px;
  font-size: 34px;
  position: relative;
  background: transparent;
  color: #007bff;
  text-transform: uppercase;
  border: 3px solid #007bff;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
}

button:hover {
  color: #000;
}
span {
  transition: all 0.7s;
  z-index: -1;
}

button .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #007bff;
}

button:hover .first {
  top: 0;
  right: 0;
}
button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #007bff;
}

button:hover .second {
  top: 0;
  left: 50%;
}

button .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #007bff;
}

button:hover .third {
  top: 0;
  left: 25%;
}

button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #007bff;
}

button:hover .fourth {
  top: 0;
  left: 0;
}

/* GRID CSS */
body {
  background-color: #eee;
}

.mt-50 {
  margin-top: 50px;
}

.product-card {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #fff;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.product-badge {
  position: absolute;
  height: 24px;
  padding: 0 14px;
  border-radius: 3px;
  color: #fff !important;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 24px;
  white-space: nowrap;
  top: 12px;
  left: 12px;
}

.bg-success {
  background-color: #21bd4a !important;
}

.product-thumb > img {
  display: block;
  width: 100%;
  height: 250px;
  padding: 20px;
}

.product-category {
  width: 100%;
  margin-bottom: 6px;
  font-size: 12px;
}

.product-card-body {
  padding: 18px;
  padding-top: 15px;
  text-align: center;
}

.product-category > a {
  transition: color 0.2s;
  color: #999;
  text-decoration: none;
}

.product-title {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
}

.product-title > a {
  transition: color 0.3s;
  color: #232323;
  text-decoration: none;
}

.product-price {
  display: inline-block;
  margin-bottom: 10px;
  padding: 9px 15px;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.product-button-group {
  display: table;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  table-layout: fixed;
}

.product-button-group a:hover {
  color: #3ba9fc;
}

.product-button:first-child {
  border-bottom-left-radius: 5px;
}

.product-button {
  display: table-cell;
  position: relative;
  height: 62px;
  padding: 10px;
  transition: background-color 0.3s;
  border: 0;
  border-right: 1px solid #e5e5e5;
  background: none;
  color: #505050;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.product-button:hover > span {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.product-button > span {
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
}

.product-button > i,
.product-button > span {
  transition: all 0.3s;
}

.product-button > i {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  font-size: 18px;
}

.product-button:hover > i {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* FOOTER CSS */
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #007bff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #007bff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
